<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aberation</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- Google fonts : Righteous -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <div class="wrapper">
      <div class="square square_border-color_white">
        <div class="box">
          <div class="box__circle"></div>
          <p class="box__text">Aberation</p>
        </div>
      </div>
    </div>
  </body>
</html>
